In [6]:
import pandas as pd 

df = pd.read_pickle(filepath_or_buffer="attack_results_FedAvg_PSE2.pkl" , compression="gzip")

In [16]:
df[df["Round"] == 0]

      Round  Attacker                                      Cluster_Found
2600      0         0  [17, 77, 45, 98, 19, 38, 85, 42, 91, 26, 30, 2...
2601      0         1  [32, 57, 51, 25, 43, 36, 97, 11, 65, 24, 52, 9...
2602      0         2  [64, 62, 86, 80, 34, 3, 60, 22, 49, 88, 85, 51...
2603      0         3  [79, 74, 22, 28, 64, 31, 20, 61, 63, 86, 47, 5...
2604      0         4  [6, 51, 75, 24, 55, 27, 36, 13, 17, 59, 69, 86...
...     ...       ...                                                ...
2695      0        95  [6, 28, 60, 74, 7, 59, 3, 61, 48, 70, 46, 47, ...
2696      0        96  [84, 45, 43, 56, 87, 24, 11, 27, 88, 77, 7, 65...
2697      0        97  [71, 93, 85, 92, 49, 18, 35, 72, 63, 11, 57, 7...
2698      0        98  [50, 77, 58, 1, 70, 11, 96, 37, 32, 84, 13, 57...
2699      0        99                                                 []

[100 rows x 3 columns]